@font-face{
    font-family: Outfit;
    src:url(https://fonts.google.com/specimen/Outfit);
    font-weight: 400;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.center{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    height: 400px;
    margin: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
}  

.center,img{
    border: 2px solid black;
}

p{
    font-family:sans-serif;
    font-weight:400px;
}