body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", "sans-serif";
}

.center{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    height: 400px;
    margin: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
}  

img{
    border: 2px solid white;
    border-radius: 15px;
    max-width:100%;
    max-height:70%;
    
}

.heading{
    font-size: 20px;
}
p{
    font-size: 15px;
}